/* Page */
.page {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.section {
  padding: 80px 0;
}

.section--grey {
  background-color: #f8f8f8;
  padding: 30px 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.intro {
  background-color: #f9f9f9;
  overflow: hidden;
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 100px 0 50px;
  position: relative;
}

.intro__photo img {
  display: block;
  width: 100%;
  height: auto;
}

.video {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 50px;
}

.video__item {
  margin: 40px auto;
  width: 1200px;
  height: 630px;
}

.video__screen {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.intro__title {
  font-size: 3.8rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  margin-bottom: 50px;
}

.btn-inner {
  max-width: 180px;
}

.intro__text {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1;
  margin-bottom: 50px;
}

@media (max-width: 1110px) {
  .intro__title {
    font-size: 3rem;
  }
  .video {
    padding: 20px 60px;
    border: none;
  }
  .video__item {
    padding: 0;
    margin: 0 auto;
    width: 648px;
    height: 500px;
  }
}

@media (max-width: 990px) {
  .intro__title {
    font-size: 2.5rem;
  }
  .intro__text {
    font-size: 1rem;
  }
}

@media (max-width: 770px) {
  .intro__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }
  .intro__inner {
    padding: 0 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .intro__title {
    font-size: 2rem;
  }
  .intro__text {
    font-size: 0.8rem;
  }
  .video {
    padding: 0;
  }
  .video__item {
    margin: 0 auto;
    width: 320px;
    height: 200px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background-color: #fff;
  border-right: 1px solid #2519a1;
  color: #fff;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
  position: relative;
}

.social__link:last-child {
  border-right: none;
}

.social__link:hover {
  background-color: rgba(6, 81, 125, 0.7);
}

.social__icon {
  fill: #000;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}

.social__link:hover .social__icon {
  fill: #fff;
}

.shop {
  margin-bottom: -80px;
}

.shop__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 25px;
}

.shop__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 150px;
}

.shop__photo img {
  display: block;
  width: 100%;
  height: auto;
}

.shop__photo,
.shop__content {
  width: 50%;
}

.shop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.shop__title {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.shop__subtitle {
  margin-bottom: 1rem;
  position: relative;
  font-size: 1rem;
  line-height: 1.1;
  color: fade(#000, 15%);
  font-weight: 700;
  text-transform: uppercase;
}

.shop__text {
  margin-bottom: 2.8rem;
  font-size: 0.8rem;
  line-height: 2;
  color: #000;
  font-weight: 300;
}

.shop__social-link {
  padding-left: 10px;
}

@media (max-width: 1110px) {
  .shop {
    margin: 0;
  }
  .shop__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .shop__title {
    font-size: 1rem;
  }
  .shop__inner {
    width: 100%;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #cccbcb;
  }
  .shop__inner:last-child {
    margin-bottom: 0;
  }
  .shop__content {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 2rem;
    padding-left: 0;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 770px) {
  .shop__title {
    font-size: 1rem;
  }
}

.works {
  margin: 2.8rem 0;
}

.works__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1.4rem;
}

.works__nav-link {
  margin: 0 1.2rem;
  font-size: 1.2rem;
  color: fade(#000, 70%);
  text-decoration: none;
}
.works__nav-link:hover {
  text-decoration: underline;
}
.works__nav-link:active,
.works__nav-link:focus {
  text-decoration: underline;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -1rem 2.8rem;
}

.portfolio__col {
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
  padding: 0.5rem;
}

@media (max-width: 770px) {
  .portfolio__col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media (max-width: 575px) {
  .portfolio__col {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

.work {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  background-color: #06517d;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#06517d),
    color-stop(67%, #5bb5c7)
  );
  background-image: linear-gradient(90deg, #06517d 0%, #5bb5c7 67%);
  position: relative;
}

.work:hover .card__text {
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.work:hover .work__image img {
  opacity: 0.5;
}

.work__image {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#06517d),
    color-stop(67%, #5bb5c7)
  );
  background-image: linear-gradient(90deg, #06517d 0%, #5bb5c7 67%);
  position: relative;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.work__image img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.card__text {
  width: 100%;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  -webkit-transform: translate3d(0px, -50px, 0px);
  transform: translate3d(0px, -50px, 0px);
}

.work__content {
  padding: 1rem 0.8rem;
}

.work__cat {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: #000;
  text-transform: uppercase;
}

.work__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.06rem;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 770px) {
  .work {
    max-width: 370px;
  }
}

@media (max-width: 575px) {
  .work {
    margin: 0 auto;
  }
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 1.05em 1.7em;
  min-width: 170px;
  border: 1px solid #000;
  border-radius: 1.8em;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.06rem;
  line-height: 1.1;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear,
    border-color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear,
    border-color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear,
    box-shadow 0.2s linear, border-color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear,
    box-shadow 0.2s linear, border-color 0.2s linear,
    -webkit-box-shadow 0.2s linear;
  /* Modificators */
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: #000;
  -webkit-box-shadow: 2px 2px 10px fade(#000, 24%);
  box-shadow: 2px 2px 10px fade(#000, 24%);
  color: #fff;
  border-color: #000;
}
.btn + .btn {
  margin-left: 1rem;
}
.btn--sm {
  padding: 0.7em 1.2em;
  min-width: 0;
  font-size: 0.94rem;
  font-weight: 700;
  border-width: 2px;
}
.btn--thin {
  min-width: 145px;
  font-size: 0.8rem;
}
.btn--sq {
  min-width: 266px;
  border-radius: 0;
  border: none;
  color: #fff;
  background-color: #000;
}
.btn--sq:hover {
  background-color: #a5a3a3;
  -webkit-box-shadow: 2px 2px 10px fade(#000, 24%);
  box-shadow: 2px 2px 10px fade(#000, 24%);
  color: #fff;
}

@media (max-width: 1110px) {
  .btn {
    font-size: 1rem;
    padding: 1em 1.5em;
    min-width: 140px;
  }
}

@media (max-width: 575px) {
  .btn {
    display: block;
    width: 100%;
  }
  .btn + .btn {
    margin-left: 0;
    margin-top: 1rem;
  }
}

.logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 -15px;
}

.logos__item {
  padding: 0 15px;
  width: 200px;
  height: 200px;
}

.logos__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.logos__img--sheep {
  background-color: white;
  width: 200px;
  height: 145px;
}

/* ----------------- */
/* 575px */
/* ----------------- */
@media (max-width: 575px) {
  .logos {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1090px;
}

.about__photo {
  width: 30%;
}

.about__content {
  width: 70%;
}

.about__photo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.about__photo img {
  display: block;
  width: 100%;
  height: auto;
}

.about__content {
  padding-left: 3.2rem;
  margin-top: 2rem;
}

.about__text {
  margin-bottom: 2.8rem;
  font-size: 1rem;
  line-height: 2;
  color: #000;
  font-weight: 300;
}

.about__link {
  margin-bottom: 2.8rem;
  text-decoration: underline;
  font-size: 1.3rem;
  line-height: 2;
  color: #06517d;
  font-style: uppercase;
  font-weight: 700;
}

.about__logo img {
  width: 100%;
  height: auto;
  display: block;
}

.about__social-link {
  padding-left: 10px;
}

@media (max-width: 1110px) {
  .about {
    margin: 4rem 0;
  }
  .about__photo,
  .about__content {
    width: 100%;
  }
  .about__photo {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .about__photo img {
    position: relative;
    margin: 0 auto;
  }
  .about__content {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 2rem;
    padding-left: 0;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 770px) {
  .about__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .about__text {
    font-size: 0.8rem;
  }
}

.blog {
  margin-bottom: 50px;
}

.blog__header--title {
  font-size: 2.5rem;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5rem;
  text-align: center;
}

.blog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 25px;
}

.blog__item {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog__item:last-child {
  margin-left: 20px;
}

.blog__photo {
  margin-bottom: 15px;
}

.blog__photo a {
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.blog__img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -o-object-fit: contain;
  object-fit: contain;
}

.blog__info {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #e8e8e8;
}

.blog__title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.blog__text {
  color: #000;
  font-size: 20px;
  margin-bottom: 15px;
}

.blog__link {
  margin-bottom: 2.8rem;
  text-decoration: underline;
  font-size: 1.1rem;
  line-height: 2;
  color: #06517d;
  font-style: uppercase;
  font-weight: 700;
}

.blog__title a:hover {
  text-decoration: underline;
}

.blog__text {
  color: #999999;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
}

@media (max-width: 1110px) {
  .blog {
    margin: 0;
  }
  .blog__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .blog__header--title {
    font-size: 1.5rem;
  }
  .blog__item {
    width: 100%;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #cccbcb;
  }
  .blog__item:last-child {
    margin-bottom: 0;
  }
}

.reviews {
  padding: 2rem 0;
  position: relative;
  background-color: #06517d;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#06517d),
    color-stop(67%, #5bb5c7)
  );
  background-image: linear-gradient(90deg, #06517d 0%, #5bb5c7 67%);
  margin-bottom: 140px;
}

.reviews-slider {
  width: 100%;
}
.reviews-slider__slider-btnprev {
  display: none !important;
}
.reviews-slider__slider-btnnext {
  display: none !important;
}

.reviews-slider__slider-btn {
  display: none;
}

.reviews-slider .slick-dots {
  bottom: -20px;
}

.reviews-slider .slick-dots button {
  background-color: #c4c4c4;
  height: 14px;
  width: 14px;
}

.reviews-slider .slick-dots .slick-active button,
.reviews-slider .slick-dots .slick-active button:active {
  background-color: #fff;
  border: 0.5px solid #06517d;
}

.reviews__item {
  margin: 0 auto;
}

.reviews__text {
  font-size: 0.94rem;
  line-height: 2.2;
  color: #fff;
  text-align: center;
}

.reviews__author {
  width: 100%;
  text-align: center;
}

.reviews__item {
  position: relative;
  display: block;
  cursor: pointer;
}

.reviews__photo {
  display: block;
  margin: 0 auto 0.6rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #efefef;
  opacity: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.middle {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 70px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.reviews__item:hover .reviews__photo {
  opacity: 0.3;
}

.reviews__item:hover .middle {
  opacity: 1;
}

.reviews__company {
  margin-bottom: 0.4rem;
  font-size: 0.94rem;
  color: #000;
  font-style: italic;
  font-weight: 300;
}

.reviews__star {
  width: 13px;
  height: 13px;
}
.reviews__star--unactive {
  opacity: 0.3;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.instagram__item {
  width: 25%;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  cursor: pointer;
}

.instagram__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.instagram__content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(71, 134, 166, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.instagram__content img {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 45%;
  top: 45%;
}

.instagram__item:hover .instagram__content {
  opacity: 1;
}

@media (max-width: 1110px) {
  .instagram__item {
    width: 50%;
  }
}

@media (max-width: 770px) {
  .instagram__item {
    width: 100%;
  }
}

.product {
  padding-top: 5rem;
}

.product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

.product-slider {
  max-width: 60%;
}
.product-slider__slider-btnprev {
  left: 0;
  fill: black;
}
.product-slider__slider-btnnext {
  right: 0;
  fill: black;
}

.slick-slide img {
  -o-object-fit: cover;
  object-fit: cover;
  display: inline;
}

.product-slider .slick-dots {
  bottom: -30px;
}

.product-slider .slick-dots button {
  background-color: #c4c4c4;
  height: 14px;
  width: 14px;
}

.product-slider .slick-dots .slick-active button,
.product-slider .slick-dots .slick-active button:active {
  background-color: #fff;
  border: 0.5px solid #06517d;
}

.product-slider__slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 5;
  cursor: pointer;
}

.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  padding: 0 5px;
}

.slick-dots button {
  padding: 0;
  font-size: 0;
  margin: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}

.slick-dots .slick-active button {
  background-color: #fff;
}

.slick-active li button {
  background-color: #fff;
}

.product__photo {
  width: 680px;
}

.product__photo img {
  width: 100%;
  height: auto;
  display: block;
}

.product__info {
  padding: 1rem;
  margin-bottom: 4rem;
}

.product__info-options {
  text-align: center;
  margin-top: 35px;
}

.product__info-title {
  font-size: 27px;
  margin-bottom: 1rem;
}

.product__info-price {
  font-size: 20px;
  line-height: 1;
  color: #dc9814;
  margin-bottom: 1rem;
}

.product__info-text {
  font-size: 22px;
  margin-bottom: 1rem;
}

.product__info-buy {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  padding: 1.05em 1.7em;
  border-radius: 0;
  border: none;
  color: #fff;
  background-color: #06517d;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#06517d),
    color-stop(67%, #5bb5c7)
  );
  background-image: linear-gradient(90deg, #06517d 0%, #5bb5c7 67%);
  font-family: inherit;
  font-size: 1.06rem;
  line-height: 1.1;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear,
    border-color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear,
    border-color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear,
    box-shadow 0.2s linear, border-color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear,
    box-shadow 0.2s linear, border-color 0.2s linear,
    -webkit-box-shadow 0.2s linear;
  margin-bottom: 20px;
}
.product__info-buy--md {
  cursor: pointer;
  width: 200px;
}

.colors {
  border: 1px solid #000;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.colors__title,
.quantity__title {
  font-size: 14px;
}

.quantity {
  border: 1px solid #000;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.description__col {
  width: 100%;
  max-width: 800px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  color: #777;
}

.content__text {
  font-size: 16px;
  margin-bottom: 10px;
}

.content__list {
  list-style: square;
  margin-left: 15px;
}

@media (max-width: 990px) {
  .product-slider {
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .product-slider__slider-btnprev {
    display: none !important;
  }
  .product-slider__slider-btnnext {
    display: none !important;
  }
  .product__info {
    margin-bottom: 0rem;
  }
  .product__info-text {
    font-size: 18px;
  }
}

@media (max-width: 770px) {
  .product__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .product__info {
    margin-bottom: 0rem;
  }
}

.information__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.information__photo {
  width: 100%;
  margin-bottom: 10px;
}

.information__photo {
  position: relative;
}
.information__photo img {
  position: relative;
  z-index: 2;
}

.information__content {
  padding-left: 3.2rem;
  margin-top: 2rem;
}

.information__title {
  font-size: 3rem;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.information__bigtitle {
  margin-bottom: 1.4rem;
  position: relative;
  font-size: 3rem;
  line-height: 1.1;
  color: fade(#000, 15%);
  font-weight: 700;
  text-transform: uppercase;
}

.information__text {
  margin-bottom: 2.8rem;
  font-size: 0.8rem;
  line-height: 2;
  color: #000;
  font-weight: 300;
}

.information__social-link {
  padding-left: 10px;
}

@media (max-width: 1110px) {
  .information {
    margin: 0;
  }
  .information__photo,
  .information__content {
    width: 100%;
  }
  .information__photo {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .information__photo img {
    position: relative;
    margin: 0 auto;
  }
  .information__content {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 2rem;
    padding-left: 0;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .information__bigtitle {
    position: static;
  }
}

@media (max-width: 770px) {
  .information__title {
    font-size: 1rem;
  }
  .information__bigtitle {
    font-size: 2rem;
  }
}

.specifications__item {
  font-size: 20px;
  line-height: 24px;
  border-bottom: 1px solid rgba(47, 48, 53, 0.1);
  padding: 15px 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.specifications__list {
  margin-bottom: 20px;
}

.specifications__item-left {
  padding-right: 15px;
}

.specifications__item-right {
  width: 40%;
}

.specifications__title {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

@media (max-width: 1110px) {
  .specifications__item {
    font-size: 18px;
  }
}

@media (max-width: 770px) {
  .specifications__title {
    font-size: 1.5rem;
  }
  .specifications__item {
    font-size: 16px;
  }
}
