/* Page */
.page {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.section {
  padding: 80px 0;
}

.section--grey {
  background-color: #f8f8f8;
  padding: 30px 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.intro {
  background-color: #f9f9f9;
  overflow: hidden;
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 100px 0 50px;
  position: relative;
}

.intro__photo img {
  display: block;
  width: 100%;
  height: auto;
}

.video {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 50px;
}

.video__item {
  margin: 40px auto;
  width: 1200px;
  height: 630px;
}

.video__screen {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.intro__title {
  font-size: 3.8rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  margin-bottom: 50px;
}

.btn-inner {
  max-width: 180px;
}

.intro__text {
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1;
  margin-bottom: 50px;
}

@media (max-width: 1110px) {
  .intro__title {
    font-size: 3rem;
  }
  .video {
    padding: 20px 60px;
    border: none;
  }
  .video__item {
    padding: 0;
    margin: 0 auto;
    width: 648px;
    height: 500px;
  }
}

@media (max-width: 990px) {
  .intro__title {
    font-size: 2.5rem;
  }
  .intro__text {
    font-size: 1rem;
  }
}

@media (max-width: 770px) {
  .intro__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }
  .intro__inner {
    padding: 0 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .intro__title {
    font-size: 2rem;
  }
  .intro__text {
    font-size: 0.8rem;
  }
  .video {
    padding: 0;
  }
  .video__item {
    margin: 0 auto;
    width: 320px;
    height: 200px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background-color: #fff;
  border-right: 1px solid #2519a1;
  color: #fff;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
  position: relative;
}

.social__link:last-child {
  border-right: none;
}

.social__link:hover {
  background-color: rgba(6, 81, 125, 0.7);
}

.social__icon {
  fill: #000;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}

.social__link:hover .social__icon {
  fill: #fff;
}

.shop {
  margin-bottom: -80px;
}

.shop__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 25px;
}

.shop__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 150px;
}

.shop__photo img {
  display: block;
  width: 100%;
  height: auto;
}

.shop__photo,
.shop__content {
  width: 50%;
}

.shop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.shop__title {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.shop__subtitle {
  margin-bottom: 1rem;
  position: relative;
  font-size: 1rem;
  line-height: 1.1;
  color: fade(#000, 15%);
  font-weight: 700;
  text-transform: uppercase;
}

.shop__text {
  margin-bottom: 2.8rem;
  font-size: 0.8rem;
  line-height: 2;
  color: #000;
  font-weight: 300;
}

.shop__social-link {
  padding-left: 10px;
}

@media (max-width: 1110px) {
  .shop {
    margin: 0;
  }
  .shop__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .shop__title {
    font-size: 1rem;
  }
  .shop__inner {
    width: 100%;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #cccbcb;
  }
  .shop__inner:last-child {
    margin-bottom: 0;
  }
  .shop__content {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 2rem;
    padding-left: 0;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 770px) {
  .shop__title {
    font-size: 1rem;
  }
}

/* .works {
  margin: 2.8rem 0;
}

.works__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1.4rem;
}

.works__nav-link {
  margin: 0 1.2rem;
  font-size: 1.2rem;
  color: fade(#000, 70%);
  text-decoration: none;
}
.works__nav-link:hover {
  text-decoration: underline;
}
.works__nav-link:active,
.works__nav-link:focus {
  text-decoration: underline;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -1rem 2.8rem;
}

.portfolio__col {
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
  padding: 0.5rem;
}

@media (max-width: 770px) {
  .portfolio__col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media (max-width: 575px) {
  .portfolio__col {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

.work {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  background-color: #06517d;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#06517d),
    color-stop(67%, #5bb5c7)
  );
  background-image: linear-gradient(90deg, #06517d 0%, #5bb5c7 67%);
  position: relative;
}

.work:hover .card__text {
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.work:hover .work__image img {
  opacity: 0.5;
}

.work__image {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#06517d),
    color-stop(67%, #5bb5c7)
  );
  background-image: linear-gradient(90deg, #06517d 0%, #5bb5c7 67%);
  position: relative;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.work__image img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.card__text {
  width: 100%;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  -webkit-transform: translate3d(0px, -50px, 0px);
  transform: translate3d(0px, -50px, 0px);
}

.work__content {
  padding: 1rem 0.8rem;
}

.work__cat {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  color: #000;
  text-transform: uppercase;
}

.work__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.06rem;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 770px) {
  .work {
    max-width: 370px;
  }
}

@media (max-width: 575px) {
  .work {
    margin: 0 auto;
  }
} */

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 1.05em 1.7em;
  min-width: 170px;
  border: 1px solid #000;
  border-radius: 1.8em;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.06rem;
  line-height: 1.1;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear,
    border-color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear,
    border-color 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear,
    box-shadow 0.2s linear, border-color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear,
    box-shadow 0.2s linear, border-color 0.2s linear,
    -webkit-box-shadow 0.2s linear;
  /* Modificators */
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: #000;
  -webkit-box-shadow: 2px 2px 10px fade(#000, 24%);
  box-shadow: 2px 2px 10px fade(#000, 24%);
  color: #fff;
  border-color: #000;
}
.btn + .btn {
  margin-left: 1rem;
}
.btn--sm {
  padding: 0.7em 1.2em;
  min-width: 0;
  font-size: 0.94rem;
  font-weight: 700;
  border-width: 2px;
}
.btn--thin {
  min-width: 145px;
  font-size: 0.8rem;
}
.btn--sq {
  min-width: 266px;
  border-radius: 0;
  border: none;
  color: #fff;
  background-color: #000;
}
.btn--sq:hover {
  background-color: #a5a3a3;
  -webkit-box-shadow: 2px 2px 10px fade(#000, 24%);
  box-shadow: 2px 2px 10px fade(#000, 24%);
  color: #fff;
}

@media (max-width: 1110px) {
  .btn {
    font-size: 1rem;
    padding: 1em 1.5em;
    min-width: 140px;
  }
}

@media (max-width: 575px) {
  .btn {
    display: block;
    width: 100%;
  }
  .btn + .btn {
    margin-left: 0;
    margin-top: 1rem;
  }
}

