@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  color: #000;
  font-family: "Comfortaa", "Arial", sans-serif;
  font-size: 1rem;
}
