.footer {
  padding: 1rem 0;

  background-color: #06517d;
  background-image: linear-gradient(270deg, #06517d 0%, #5bb5c7 67%);

  z-index: 100000 !important;
  width: 100%;
  position: absolute;
  bottom: -50px;
  left: 0;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__credits {
  display: flex;
  align-items: center;
}

.footer__copyright {
  padding-right: 0.8rem;
  margin-right: 1rem;

  font-size: 0.94rem;
  color: #fff;

  border-right: 1px solid fade(#000, 35%);
}

.footer__social {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.footer__social-link {
  margin-right: 1.2rem;
  text-decoration: none;
}

.footer__social-icon {
  fill: #fff;
  display: block;
}

.footer__social-link:hover .footer__social-icon {
  fill: #06517d;
}

.footer__llc {
  font-size: 0.94rem;
  color: #fff;
}

.footer__nav {
  display: flex;
  align-items: center;
  font-size: 0.94rem;
}

.footer__nav-link {
  margin-left: 1.5rem;

  color: #fff;
  text-decoration: none;
}

.footer__nav-link:hover {
  text-decoration: underline;
}

@media (max-width: 680px) {
  .footer__credits {
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .footer__social a {
    margin: 0.5rem;
  }

  .footer__nav {
    width: 50%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer__nav-link {
    margin: 0 0.5rem 0.5rem;
  }
}

@media (max-width: 320px) {
  .footer__inner {
    flex-wrap: wrap;
  }

  .footer__credits {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer__llc {
    font-size: 0.7rem;
  }

  .footer__copyright,
  .footer__social,
  .footer__llc {
    margin-right: 0;
    margin-bottom: 1rem;
    border-right: 0;
  }

  .footer__nav {
    width: 100%;
  }
}
